	</main>
	<footer>
		<div class="footer-inner">
			<span class="myFont">&copy; 2016 {{ site.author }}</span>
			<ul>
				<li><a href="#" class="myFont">首页</a></li>
				<li><a href="{{ "/index.html" | prepend: site.baseurl }}" class="myFont">博客</a></li>
				<li><a href="#" class="myFont">关于</a></li>
				<li><a href="#" class="myFont">联系</a></li>
			</ul>
		</div>
	</footer>
<script type="text/javascript"> $youzikuapi.asyncLoad("http://api.youziku.com/webfont/FastJS/yzk_80359A045057B6A0", function () { $youziku.load(".myFont", "6dee8aeae5404ac7b4184b79262d4e1a", "NaiYou"); /*$youziku.load("#id2", "6dee8aeae5404ac7b4184b79262d4e1a", "NaiYou");*/ /*$youziku.load(".class1", "6dee8aeae5404ac7b4184b79262d4e1a", "NaiYou");*/ /*$youziku.load(".class2", "6dee8aeae5404ac7b4184b79262d4e1a", "NaiYou");*/ /*．．．*/ $youziku.draw(); }) </script>
</body>
</html>