<script type="text/javascript"> $youzikuapi.asyncLoad("http://api.youziku.com/webfont/FastJS/yzk_80359A045057B6A0", function () { $youziku.load(".myFont", "6dee8aeae5404ac7b4184b79262d4e1a", "NaiYou"); /*$youziku.load("#id2", "6dee8aeae5404ac7b4184b79262d4e1a", "NaiYou");*/ /*$youziku.load(".class1", "6dee8aeae5404ac7b4184b79262d4e1a", "NaiYou");*/ /*$youziku.load(".class2", "6dee8aeae5404ac7b4184b79262d4e1a", "NaiYou");*/ /*．．．*/ $youziku.draw(); }) 
$(function() {
    $(window).scroll(function() {
        if ($(window).scrollTop() > 1000)
            $('div.go-top').show();
        else
            $('div.go-top').hide();
    });
    $('div.go-top').click(function() {
        $('html, body').animate({scrollTop: 0}, 200);
    });
});
</script>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-76850337-1', 'auto');
  ga('send', 'pageview');

</script>
</body>
</html>