<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>blog</title>
  <link rel="stylesheet" type="text/css" href="/blog/css/main.css">
  <script type="text/javascript" src="http://api.youziku.com/webfont/FastJS/yzk_80359A045057B6A0"></script>
</head>
<body>
  <header id="header">
    <div class="headerWrap">
      <h1 class="myFont">博乎</h1>
      <nav>
        <ul>
          <li><a href="#" class="myFont">首页</a></li>
          <li><a href="#" class="myFont">博客</a></li>
          <li><a href="#" class="myFont">关于</a></li>
          <li><a href="#" class="myFont">联系</a></li>
        </ul>
      </nav>
      <a href="#" class="master">
        <div class="avatarWrap">
          <img src="/blog/assets/avatar.jpg" alt="站长头像" style="max-width: 27px;" />
        </div><span class="myFont">天道总司</span>
      </a>
    </div>
  </header>
  <main class="clearfix">
    <div class="content">
      <div class="content-inner">