		@media screen and (min-width: 768px) {
            .dropdown-menu {
                display: none;
                float: none;
                font-size: 20px;
                width: 600px;
                .active{
                    float: none !important;
                    width: 100% !important;
                    a{
                        font-size: 13px !important;
                    }
                 }
            }

			.search-tool ul{
                 white-space:nowrap;
                 overflow:hidden;
             }
        
            .search-content {
                width: 367px;
                font-size: 22px;
                height: 33px;
                background-color: #eee;
                color: black;
                opacity: 1.0;
            }
        }

        @media screen and (max-width: 767px) {
            .dropdown-menu {
                font-size: 20px;
                width: 250px;
            }
			.search-tool ul{ 
				width: 96% ;
				white-space:nowrap; 
				overflow:hidden; 
				text-overflow: ellipsis;
			}

            .search-content {
                font-size: 22px;
                background-color: #eee;
                color: black;
                opacity: 1.0;
            }
        }
